@charset "UTF-8";


body {
    margin: 0px;

}


header {
    background-color: black;
    height: 100px;
    padding: 50px;
    margin: 0px;
    
}

header > h1 {
    color: white;
    text-align: center;
    padding-top: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 2em;
    
}


header > p {
    color: white;
    text-align: center;
}

#p1 {
    height: 500px;
    background-color: white;
    padding: 10px;
    font-size: 3.5em;
    
    
    
}

#p2 {
    height: 500px;
    width: 500px;
    background-color: rgba(0, 0, 0, 0.241);
    color: white;
    padding: 10px;
    margin: 10px;
    font-size: 3.5em;
}

#p3 {
    background-color: white;
    padding: 10px;
}

#p4 {
    width: 180px;
    background-color: rgba(0, 0, 0, 0.241);
    color: white;
    padding: 10px;
}

#p5 {
    background-color: white;
    padding: 10px;
}

.imagem#img01 {
    background-image: url('imagens/background001.jpg');
    background-position: right center;
    background-size: cover;
    background-attachment: fixed;
} 
 
.imagem#img02 {
    background-image: url(imagens/background002.jpg);
    background-position: right center;
    background-size: cover;
    background-attachment: fixed;
    
}
aside {
    background-color: black;
    margin: 0px;
  }

aside > p {
    color: white;
    text-align: center;
}
